<template>
    <div>
        <div>
            <div>
                <pre>{{ post.attributes.image }}</pre>
                <nuxt-link :to="`/blog/${post.slug}`">
                    <h6>
                        {{ post.attributes.title }}
                    </h6>
                </nuxt-link>
                <p>
                    {{ post.attributes.description }}
                </p>
                <div>
                <span v-for="tag in tags" v-if="tags.length > 0">
                    {{ tag }}
                </span>
                </div>
                <nuxt-link :to="`/${prefix}/${post.slug}`">
                    <div>
                        Read
                    </div>
                </nuxt-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'post-card',
        props: {
            post: Object,
            prefix: String,
            ct: String
        },
        computed: {
            tags () {
                return this.post.attributes.tags ? this.post.attributes.tags.split(',') : []
            }
        }
    }
</script>