<template>
    <section>
        <div>
            <div>
                <div>
                    <div>
                        <h2>
                            {{ post.attributes.title }}
                        </h2>

                        <h4>
                            {{ post.attributes.date }}
                        </h4>
                        <div v-html="post.html"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'SoftwareView',
        async asyncData({ params }) {
            try {
                let post = await import(`~/posts/${params.slug}.md`)
                return {
                    post
                }
            } catch (err) {
                return false
            }
        }
    }
</script>